<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.dongjinbaek.wordbooks.mapper.UserMapper">

    <select id="getUser" resultType="UserInfo">
        SELECT *
        FROM Users
        WHERE user_id = #{userId}
    </select>

    <select id="getUserAuthInfo" resultType="User">
        SELECT *
        FROM Users
        WHERE user_id = #{userId}
    </select>

	<insert id="addUser">
        INSERT INTO Users(user_id, encoded_password, token)
        VALUES (#{userId}, #{encodedPassword}, #{token})
    </insert>
</mapper>