<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.dongjinbaek.wordbooks.mapper.WordMapper">


	<select id="getWord" resultType="Word">
		SELECT *
        FROM Wordbooks
		WHERE user_id = #{userId}
		  AND english = #{english}
	</select>

	<select id="searchWords" resultType="Word">
		SELECT *
        FROM Wordbooks
		WHERE user_id = #{userId}
		  AND english LIKE CONCAT(#{term}, '%')
	</select>

	<select id="searchWithDate" resultType="Word">
		SELECT *
		FROM Wordbooks
		WHERE user_id = #{userId}
		  AND created_at <![CDATA[>=]]> #{fromDate}
		  AND created_at <![CDATA[<=]]> #{toDate}
	</select>

	<insert id="addWord">
		INSERT INTO Wordbooks (user_id, english, translated, example, memorized, created_at)
		VALUES (#{userId}, #{english}, #{translated}, #{example}, false, NOW())
	</insert>

	<delete id="deleteWord">
		DELETE FROM Wordbooks
		WHERE user_id = #{userId}
		  AND english = #{english}
	</delete>

	<update id="updateWord">
		UPDATE Wordbooks
		<set>
			<if test="translated != null">translated = #{translated},</if>
			<if test="example != null">example = #{example},</if>
			<if test="memorized != null">memorized = #{memorized},</if>
		</set>
		WHERE user_id = #{userId}
		  AND english = #{english}
	</update>
</mapper>